<div id="sidebar" class="d-flex flex-column flex-shrink-0 bg-white border-end" style="width: 250px; height: calc(100vh - 73px); position: sticky; top: 73px;">
    <div class="p-3 border-bottom">
      <button id="toggleSidebar" class="btn btn-sm text-secondary text-uppercase fw-semibold w-100 text-start">
        Menu Principal
      </button>
    </div>
  
    <ul class="nav nav-pills flex-column mb-auto px-2" id="sidebarItems">
      <li class="nav-item">
        <a href="#" class="nav-link active text-primary bg-light">
          <i class="bi bi-layout-text-sidebar-reverse me-2"></i> <span>Dashboard</span>
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-secondary d-flex align-items-center">
          <i class="bi bi-house-door me-2"></i> <span>Propriedades</span>
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-secondary">
          <i class="bi bi-people me-2"></i> <span>Clientes</span>
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-secondary d-flex align-items-center">
          <i class="bi bi-calendar-event me-2"></i> <span>Agendamentos</span>
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-secondary">
          <i class="bi bi-map me-2"></i> <span>Mapas</span>
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-secondary d-flex align-items-center">
          <i class="bi bi-chat-dots me-2"></i> <span>Mensagens</span>
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-secondary">
          <i class="bi bi-file-earmark-text me-2"></i> <span>Contratos</span>
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-secondary">
          <i class="bi bi-bar-chart me-2"></i> <span>Relatórios</span>
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-secondary">
          <i class="bi bi-gear me-2"></i> <span>Configurações</span>
        </a>
      </li>
    </ul>

  </div>
  